################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/reales/FileContentIndex/7787df9f-ddb2-40dc-836b-1678e8319143.vsidx
