################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/testevents/.vs/testevents/FileContentIndex
/src/testevents/obj
/src/testevents/bin/Debug
/src/testevents/Properties
/src/testevents/.vs/testevents/v17


target/
.idea/
.vs